Instalando numpy

In [1]:
%pip install numpy

Collecting numpy
  Downloading numpy-2.2.2-cp313-cp313-win_amd64.whl.metadata (60 kB)
Downloading numpy-2.2.2-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ------- -------------------------------- 2.4/12.6 MB 11.7 MB/s eta 0:00:01
   -------------- ------------------------- 4.7/12.6 MB 11.7 MB/s eta 0:00:01
   ---------------------- ----------------- 7.1/12.6 MB 11.6 MB/s eta 0:00:01
   ----------------------------- ---------- 9.4/12.6 MB 11.6 MB/s eta 0:00:01
   ------------------------------------- -- 11.8/12.6 MB 11.6 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 11.2 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-2.2.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import numpy as np

In [3]:
array1= np.array([1,2,3,4])
print(type(array1))

<class 'numpy.ndarray'>

In [4]:
matriz=np.array([[1,2],[3,4]])
print(matriz)

[[1 2]
 [3 4]]

In [8]:
print(f"Primer elemento del array 1D: {array1[0]}")
print(f"Primer elemento del array 1D: {matriz[0][1]}")
#otra forma print(f"Primer elemento del array 1D: {matriz[0,1]}")

Primer elemento del array 1D: 1
Primer elemento del array 1D: 2

In [10]:
print(np.sum(array1))
print(np.sum(matriz))

10
10

In [11]:
print(np.mean(matriz))

2.5

# Lambda

In [12]:
numeros=[1,2,3,4,5,6]
cuadrados= list(map(lambda x:x**2,numeros))
print(cuadrados)

[1, 4, 9, 16, 25, 36]

In [13]:
pares=list(filter(lambda x: x%2==0, numeros))
print(pares)

[2, 4, 6]

In [14]:
def suma_resta(a,b):
    print(f"La suma es {a+b}")
    print(f"la resta es {a-b}")

suma_resta(7,200)

La suma es 207
la resta es -193

In [15]:
%pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\benjamin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\benjamin\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\benjamin\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   -------- ------------------------------- 2.4/11.5 MB 11.7 MB/s eta 0:00:01
   ----------------- ---------------------- 5.0/11.5 MB 11.7 MB/s eta 0:00:01
   ------------------------- -------------- 7.3/11.5 MB 11.7 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.5 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 11.3 MB/s eta 0:00:00
Downloading pytz-2025.1-py2.py3-none-any.whl (507 kB)
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2025.1 tzdata-2025.1
Note: you may need to restart the kernel to use updated packages.

# importando pandas

In [16]:
import pandas as pd

In [18]:
data= {
    "Nombre":["Ana", "Luis", "Carla","Jorge"],
    "Edad": [25,30,28,78],
    "Genero": ["F", "M", "F", "M"],
    "Salario": [3000,4000,8555,10000],
    "Nivel_Satisfaccion": ["Alto", "Bajo","Medio","Alto"]
}

data_df=pd.DataFrame(data)
print(data_df)

  Nombre  Edad Genero  Salario Nivel_Satisfaccion
0    Ana    25      F     3000               Alto
1   Luis    30      M     4000               Bajo
2  Carla    28      F     8555              Medio
3  Jorge    78      M    10000               Alto

In [25]:
print(f"Media del salario: {data_df["Salario"].mean()}")
print(f"Mediana del salario {data_df["Salario"].median()}")
print(f"Moda del nivel de satisfacción: {data_df["Nivel_Satisfaccion"].mode()}")

Media del salario: 6388.75
Mediana del salario 6277.5
Moda del nivel de satisfacción: 0    Alto
Name: Nivel_Satisfaccion, dtype: object

In [26]:
print(f"Rango del salario: {data_df["Salario"].max() - data_df["Salario"].min()}")
print(data_df["Salario"].var())
print(data_df["Salario"].std())

Rango del salario: 7000
11641172.916666666
3411.9163114980806

In [28]:
url="https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

titanic_df_url=pd.read_csv(url)
titanic_df_url.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [37]:
titanic_df_url.Age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [38]:
titanic_df_url.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200